<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template"><head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text = "#{auth.header.login}"></h2>
    <h2 th:text = "${error}"></h2>
    <h2 th:text="${logout}"></h2>
    <form method="post" action="../home.html" th:action="@{/login}">
        <table>
            <tr>
            <td>ID</td>
            <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>PassWord</td>
                <td><input type="password" name="password"></td>
            </tr>

        </table>
                <input type="checkbox" name="remember+me">
                <span th:text="#{auth.rememberMe}">로그인상태유지</span>


        <input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <button type="submit" th:text="#{action.login}"></button>
            </div>




    </form>

</div>
</body>
</html>