<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
   <!-- 공통화먄의 레이아웃-->
    <title>Common</title>
</head>
<div align="center" layout:fragment="header">

<!--    <table>-->

<!--        <tr>-->

<!--            <td width="80"><a href="../home.html" th:href="@{/}" th:text="#{header.home}">홈</a></td>-->

<!--        </tr>-->

<!--    </table>-->

</div>
<hr>
<div align="center" layout:fragment="menu">


</div>

<hr>

<div align="center" layout:fragment="content">


    </div>
</body>
</html>