<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BOARD</title>
</head>
<body>
<h1>READ</h1>

<form th:object ="${board}" method="post" th:action="@{|remove?boardNo=${board.boardNo}|}">
<input type="hidden" name="boardNo" th:field="*{boardNo}"/>

<table>
<tr>
<td>Title></td>
<td><input type="text" name="title" th:field="*{title}" readonly="readonly"/></td> 
</tr>

<tr>
<td>Writer</td>
<td><input type="text" name="writer" th:field="*{writer}" readonly="readonly"/></td>
</tr>

<tr>
<td> content</td>
<td><textarea name="content" th:field="*{content}" readonly ="readonly"/>
</td>
</tr>

</table>

<input type="hidden" name="page" th:value="${pgrq.page}"/>
<input type="hidden" name="sizePerPage" th:value="${pgrq.sizePerPage}"/>

<a href="modify.html" th:href="@{|modify${pgrq.toUriString()}&boardNo=${board.boardNo}|}">Modify</a>
<a href="list.html" th:href="@{|list${pgrq.toUriString()}}">List</a>
<button type="submit" value="삭제">remove</button>

</form>


</body>
</html>