<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BOARD</title>

	<h2>Board Register : access to Member</h2>
</head>
<body>
<h1>게시물 작성하기</h1>
<p>principal : <span th:authentication="principal"></span></p>
<p>Member:<span th:authentication="principal.member"></span></p>




<form th:action="@{register}" method="post"
th:object="${board}"> <!-- 경로 -->

	<table>
	<tr>
	<td>title</td>
	<td><input type="text" name="title" th:field="*{title}"/>
 	<span th:if="${#fields.hasErrors('title')}" th:error="*{title}">
	title의에러메세지</span>
	</td>
	
	<tr>
	<td>writer</td>
	<td><input type="text" name="writer" th:field="*{writer}"/>
	<span th:if="${#fields.hasErrors('writer')}" th:error="*{writer}">
	입력값이 너무 큽니다</span>
	</td>
	
	<tr>
	<td>content</td>
	<td><textarea name="content" th:fied="*{content}"></textarea>
	</td>
	
	
	</table>
	<input type="submit" value="전송">
	</form>
	
	
</body>
</html>