<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/main_template">
<head>
<meta charset="UTF-8">
<title>BOARD</title>

	<h2>Board Register : access to Member</h2>
</head>
<body>
<div layout:fragment="content">
<h1 th:text="#{board.header.register}"> </h1>
<!--<p>principal : <span th:authentication="principal"></span></p>-->
<!--<p>Member:<span th:authentication="principal.member"></span></p>-->




<form th:action="@{register}" method="post"
th:object="${board}"> <!-- 경로 -->

	<table>
	<tr>
	<td th:text="#{board.title}">title</td>
	<td><input type="text" name="title"  th:field="*{title}"/>
 	<span th:if="${#fields.hasErrors('title')}" th:error="*{title}">
	title의에러메세지</span>
	</td>
	
	<tr>
	<td th:text="#{board.writer}">writer</td>
	<td><input type="text" name="writer" th:field="*{writer}"/>
	<span th:if="${#fields.hasErrors('writer')}" th:error="*{writer}">
	입력값이 너무 큽니다</span>
	</td>
	
	<tr>
	<td th:text="#{board.content}">content</td>
	<td><textarea name="content" th:fied="*{content}" ></textarea>
	</td>
	
	
	</table>
	<button type="submit" th:text="#{action.register}"></button>
	</form>
	
</div>
</body>
</html>