<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <div align="center" th:fragment="menu">
<table>
    <tr>
        <td width="80"> <a href="../home.html" th:href="@{/}"
                           th:text="#{header.home}">HOME</a>
        </td>


        <td width="120"><a href="../codegroup/list.html" th:href="@{/codegroup/list}" th:text="#{menu.codegroup.list}">코드그룹관리</a> </td>

        <td width="120"><a href="../codedetail/list.html" th:href="@{/codedetail/list}"th:text="#{menu.codedetail.list}"/></td>

        <td width="120"> <a href="../member/list.html" th:href="@{/member/list}" th:text="#{menu.member.list}"/></td>
    </tr>
</table>
    </div>
</body>
</html>