<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf=extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Coin</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{coin.header.chargeList}"></h2>
    <table border="1">

        <tr>
            <th align="center" width="80" th:text="#{coin.no}"></th>
            <th align="center" width="300" th:text="#{coin.amount}"></th>
            <th align="center" width="180" th:text="#{regdate}"></th>
        </tr>

        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="4"> List is empty</td>
        </tr>

        <tr th:each="coin:${list}">
            <td align ="center" th:text="${coin.historyNo}">${coin.noticeNo}</td>
            <td align ="center" th:text="${coin.amount}">${coin.amount}</td>

            <td align = "center" th:text="${#temporals.format(coin.regDate,'yyyy-MM-dd')}">${coin.regDate}</td>
        </tr>


    </table>
</div>

</body>
</html>