<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_template">
<head>
    <meta charset="UTF-8">
    <title>CodeGroup</title>
</head>

<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    $(document).ready(function(){-->
<!--        let formObj = $("#codeGroup");-->

<!--        $("#btnEdit").on("click",function (){-->
<!--            let groupCode = $("#groupCode");-->
<!--            let groupCodeVal = groupCode.val();-->

<!--            //self.location="edit";-->

<!--            // self.location="edit?groupCode=" +groupCodeVal;-->

<!--        });-->

<!--        // $("#btnList").on("click",function (){-->
<!--        //     self.location="list";-->
<!--        // });-->
<!--        // $("#btnRemove").on("click",function (){-->
<!--        //    formObj.submit();-->
<!--        // });-->

<!--    });-->
<!--    /*]]>*/-->
<!--</script>-->



<body>

<div layout:fragment="content">
    <h2 th:text="#{codegroup.header.read}">코드그룹 상세</h2>

    <form id="codeGroup" action="list.html" th:action="@{/codegroup/remove}"
          th:object="${codeGroup}" method="post">
        <table>


            <tr>
                <td th:text="#{codegroup.groupCode}">코드그룹</td>
                <td><input type="text" id="groupCode" th:field="*{groupCode}" readonly="readonly"></td>
            </tr>
            <tr>
                <td th:text="#{codegroup.groupName}">코드그룹명</td>
                <td><input type="text" name="groupName" th:field="*{groupName}" readonly="readonly"></td>
            </tr>
        </table>

        <div>

                <div>
            <a href="edit.html" th:href='|/codegroup/edit?groupCode=${codeGroup.groupCode}|' th:text="#{action.edit}"/>
                </div>
            <button type="submit" id="btnRemove" th:text="#{action.remove}"></button>
            <button type="button" id="btnList" onclick="location.href='/codegroup/list'" th:text="#{action.list}"></button>


        </div>

    </form>

</div>

</body>
</html>